#header {
    background-color: #EEEEEE;
    border: 1;
    color: #333;
    display: block;
    font-family: "Arial", Sans-serif;
    font-weight: bold;
    font-size: 100%;
    line-height: 1.2;
    margin: 0;
    padding:  0px;
    position:relative;
    text-align: center;
    width: 300px;
}
li {
    font-size: 90%;
}

#buttondiv {
    padding:  0.5em;
    text-align: left;
    margin: auto;
}

#clickme {
    position: center;
    text-align: center;
    width: 200px;
    height: 40px;
}